logs/
saved_experiments/*
saved_experiments_new
*.txt
data/
taming/modules/autoencoder/lpips/vgg.pth
assets/
cvusa*/
checkpoints/
dayton*/
src/
taming/
test*.py
__pycache__/
demo/*.ckpt
demo/*.yaml
demo/samples/*
*.mp4
*dataset*
logs
*.ckpt*
experiments/v1/experiment_folders
*labels_backup*
*.png*
*.mp4*
*.jpg*